# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [2]:
!pwd
!ls -al data

/c/Users/Akshay Indusekar/hello/code/dc-ds-111819/module-1/day-6-pandas-3
total 18
drwxr-xr-x 1 Akshay Indusekar 197121     0 Nov 25 09:36 .
drwxr-xr-x 1 Akshay Indusekar 197121     0 Nov 25 09:37 ..
-rw-r--r-- 1 Akshay Indusekar 197121   101 Nov 25 09:36 ds_chars.csv
-rw-r--r-- 1 Akshay Indusekar 197121 11328 Nov 25 09:36 heart.csv
-rw-r--r-- 1 Akshay Indusekar 197121   136 Nov 25 09:36 states.csv

In [3]:
import pandas as pd
uci = pd.read_csv('data/heart.csv')

In [4]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [5]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [6]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [7]:
# Call the .info() method on our dataset. What do you observe? You get more data categories

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
# Call the .describe() method on our dataset. What do you observe? You get metrics on data
uci_clean = uci.drop()

uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [12]:
# Use the code below. How does the output differ from info() ? Tells data type float or int or string, etc
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [13]:
type(uci.dtypes)

pandas.core.series.Series

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [10]:
uci.ca.mean()

0.7293729372937293

#### The Axis Variable

In [14]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [15]:
uci['age'].value_counts()[:10] # You can use [-10:] to get bottom 10

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

In [24]:
uci.uci_restecg.values_counts()
uci.uci_restecg.unique()

AttributeError: 'Series' object has no attribute 'values_counts'

Exercise: What are the different values for restecg?

In [20]:
# Your code here! If column name has a space in front then the . method won't work So you can replace old list wih new list like below

uci.columns = ['uci_' + x.lower().replace(' ', '_') for x in uci.columns]

In [21]:
uci.head()

,uci_age,uci_sex,uci_cp,uci_trestbps,uci_chol,uci_fbs,uci_restecg,uci_thalach,uci_exang,uci_oldpeak,uci_slope,uci_ca,uci_thal,uci_target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [25]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [29]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111744 entries, 0 to 111743
Data columns (total 12 columns):
Animal ID           111744 non-null object
Name                76505 non-null object
DateTime            111744 non-null object
MonthYear           111744 non-null object
Date of Birth       111744 non-null object
Outcome Type        111736 non-null object
Outcome Subtype     50868 non-null object
Animal Type         111744 non-null object
Sex upon Outcome    111740 non-null object
Age upon Outcome    111720 non-null object
Breed               111744 non-null object
Color               111744 non-null object
dtypes: object(12)
memory usage: 10.2+ MB

In [43]:
animal_outcomes.describe()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
count,111744,76505,111744,111744,111744,111736,50868,111744,111740,111720,111744,111744
unique,100110,18197,91885,91885,6656,9,22,5,5,50,2504,580
top,A721033,Max,04/18/2016 12:00:00 AM,04/18/2016 12:00:00 AM,09/01/2015,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,498,39,39,118,48777,28010,63222,39112,20161,30466,11695

In [32]:
animal_outcomes.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Date of Birth       object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object

In [33]:
type(animal_outcomes.dtypes)

pandas.core.series.Series

In [46]:
animal_outcomes.breed.value_counts()[:10]

Domestic Shorthair Mix       30466
Pit Bull Mix                  8136
Labrador Retriever Mix        6419
Chihuahua Shorthair Mix       6064
Domestic Shorthair            3975
Domestic Medium Hair Mix      3056
German Shepherd Mix           2796
Bat Mix                       1746
Domestic Longhair Mix         1507
Australian Cattle Dog Mix     1413
Name: breed, dtype: int64

In [42]:
animal_outcomes.columns = [x.lower().replace(' ', '_') for x in animal_outcomes.columns]

In [47]:
animal_outcomes.loc[animal_outcomes.animal_type == 'Dog'].age_upon_outcome.value_counts()

1 year       12337
2 years      11504
3 years       5164
2 months      4901
4 years       3212
5 years       2931
6 years       1973
1 month       1961
7 years       1664
8 years       1587
4 months      1530
5 months      1484
3 months      1482
6 months      1399
10 months     1259
8 months      1251
10 years      1197
7 months       929
9 years        913
9 months       822
12 years       580
11 months      548
11 years       499
13 years       356
14 years       239
4 weeks        228
15 years       187
2 weeks        177
1 weeks        169
3 weeks        127
16 years        90
2 days          88
1 week          81
1 day           64
0 years         55
17 years        39
6 days          37
5 days          32
3 days          30
5 weeks         27
18 years        22
4 days          19
19 years        14
-1 years         4
20 years         3
24 years         1
-3 years         1
Name: age_upon_outcome, dtype: int64

In [48]:
animal_outcomes.loc[animal_outcomes.age_upon_outcome == '-3 years']

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
40045,A687107,Montopolis,02/25/2016 06:04:00 PM,02/25/2016 06:04:00 PM,03/17/2019,Return to Owner,NaN,Dog,Neutered Male,-3 years,Rhod Ridgeback,Red/Brown

In [56]:
animal_outcomes.loc[(animal_outcomes.animal_type == 'Dog') & # | is Or & is and
                    (animal_outcomes.outcome_type == 'Adoption')].breed.value_counts()

Labrador Retriever Mix               3268
Pit Bull Mix                         3160
Chihuahua Shorthair Mix              2905
German Shepherd Mix                  1413
Australian Cattle Dog Mix             797
                                     ...
Border Collie/Mastiff                   1
Chinese Sharpei/Boxer                   1
Border Terrier/Dachshund Wirehair       1
Shih Tzu/Yorkshire Terrier              1
Jack Russell Terrier/Shih Tzu           1
Name: breed, Length: 1630, dtype: int64

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [58]:
def successor(x):
    return x + 1

In [59]:
uci.applymap(successor).head()

,uci_age,uci_sex,uci_cp,uci_trestbps,uci_chol,uci_fbs,uci_restecg,uci_thalach,uci_exang,uci_oldpeak,uci_slope,uci_ca,uci_thal,uci_target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [61]:
uci['uci_age'].map(successor).tail(10) #uci.applymap(lambda x: str(x)).info() would change all data types to string or just type
#(str in applymap argument)

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: uci_age, dtype: int64

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [64]:
uci['uci_oldpeak'].map(lambda x: round(x))[:4]

0    2
1    4
2    1
3    1
Name: uci_oldpeak, dtype: int64

Exercise: Use an anonymous function to turn the entries in age to strings

In [76]:
uci['uci_age'].map(lambda x: str(x))[:10] #in style guide for python do not define a variable as a lambda function
# def functions (x): (x**2)  is same as variable = lambda x: function(x)
uci.uci_age.apply(str)[:10]
uci.uci_age.astype(str)[:10] #All three ways give you the same output

0    63
1    37
2    41
3    56
4    57
5    57
6    56
7    44
8    52
9    57
Name: uci_age, dtype: object

In [72]:
uci['uci_age'].map(lambda x: str(x)).dtype

dtype('O')

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [77]:
# Your code here
animal_outcomes.columns

Index(['animal_id', 'name', 'datetime', 'monthyear', 'date_of_birth',
       'outcome_type', 'outcome_subtype', 'animal_type', 'sex_upon_outcome',
       'age_upon_outcome', 'breed', 'color'],
      dtype='object')

In [ ]:
animal_outcomes.dateofbirth[:5]

In [84]:
animal_outcomes.dateofbirth.apply(lambda x: datetime.datetime(int (x[-4:]),
                                 int(x[:2]),
                                 int(x[3:5])))[:10]

AttributeError: 'DataFrame' object has no attribute 'dateofbirth'

In [78]:
animal_outcomes.date_of_birth.astype(datetime)

NameError: name 'datetime' is not defined

In [80]:
animal_outcomes.age_upon_outcome.head()

0     2 years
1    4 months
2      6 days
3    2 months
4    2 months
Name: age_upon_outcome, dtype: object

In [83]:
def str_to_age (x):
    if instance (x, np.NaN):
        return x
    if 'years' in x:
        return int (x.split (' ')[0]) * 365 
    if 'months' in x:
        return int(x.split(' ')[0])
    if 'weeks' in x:
        return int(x.split (' ')[0] * 7)
animal_outcomes.age_upon_outcome.apply(str_to_age)

NameError: name 'instance' is not defined

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [73]:
uci.groupby('sex')

KeyError: 'sex'

#### `.groups` and `.get_group()`

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [ ]:
uci.groupby('sex').std()

Exercise: Tell me the average cholesterol level for those with heart disease.

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values='sex', columns='target').head()

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'),
          on='age',
          lsuffix='_A',
          rsuffix='_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('data/ds_chars.csv', index_col=0)

In [ ]:
states = pd.read_csv('data/states.csv', index_col=0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here